 <!-- Header -->
    <header>
    	<div class="layer">
    	</div>
        <div class="container">
            <div class="intro-text text-center">
                <div class="intro-lead-in">Hello, World!</div>
                <div class="section-subheading ">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                </div>
                <button href="#learn-more" data-backdrop="static" data-toggle="modal" class="page-scroll btn btn-xl ">learn More <i class="fa fa-angle-double-right"></i></button>
            </div>
        </div>
    </header>