<section id="rendering-web">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2 class="hidden-md hidden-sm hidden-lg section-heading">Rendefining the Web</h2>
				<img src="assets/img/layers.png" class="img-responsive render-web-img" />
			</div>
			<div class="col-sm-6">
				<h2 class="hidden-xs section-heading">Rendefining the Web</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
				</p>
				<button href="#learn-more" data-toggle="modal" data-backdrop="static" class="btn btn btn-lg btn-learn-more portfolio-link">Learn More</button>
			</div>
		</div>
	</div>
	<!-- show learn more information  -->
	<div class="portfolio-modal modal fade" id="learn-more" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<!-- Project Details Go Here -->
								<h2>Rendefining the Web</h2>
								<p class="item-intro text-muted">Mode details provided here.</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit..
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
								</p>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit..
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>